{% extends 'shop/base.html' %}
{% load static %}
{% load thumbnail %}
{% load static thumbnail %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock title %}

{% block content %}
    <div id="sidebar">
        <h3>Kategorie</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:product_list" %}">Wszystkie</a>
            </li>
            {% for c in category %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name}}{% else %}Produkty{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    {%thumbnail product.image 180x180 as thumb%}
                    {% if thumb %}
                        <img src="{{thumb.url}}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt=""/>
                    {% else %}
                    
                        <img src="{% static "img/no_image.png" %}" width="180" height="180" alt=""/>
                        
                    {% endif %}
                    {% comment %} {%thumbnail product.image "180x180" as im%} {% endcomment %}
                    {% comment %} <img src="{% if product.image %}{{ im.url }} {% else %}{% static 'img/no_image.png' %}{% endif %}"> {% endcomment %}
                    
                </a>
                <a href=" {{ product.get_absolute_url }}"> {{ product.name }}</a><br>{{product.price}} zł
            </div>
        {% endfor %}
        </div>
{% endblock content %}
